$main_blue: #1ea7c2;
$text: rgba(198,201,216,0.75);


#portfolio{
    min-height: 600px;
    padding: 120px 0;

    h2{
        font-size: 60px;
    }

    p{
        font-size: 18px;
        color: $text;
    }

    .row {
        width: 100%;
    }

    .portfolio-bg {
        background-size: cover !important;
        width: 100%;
        min-height: 600px;
        border-radius: 10px;

        &:hover {
            transform: scale(1.1);
        }
    }

    .content{
        position: absolute;
        bottom: 15%;
        left: 40px;
        right: 40px;

        p{
            color: $text;
            font-size: 14px;
        }

        .portfolio-btn {
            text-decoration: none;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 5px;
            margin: 5px;
            transition: all 0.2s;

            &:hover{
                background-color:#101010;
                border: none;
            }
        }

        .portfolio-btn_second {
            text-decoration: none;
            color: #fff;
            background-color:#101010;
            border-radius: 5px;
            border: none;
            padding: 5px;
            margin: 5px;
            transition: all 0.2s;

            &:hover{
                background-color: transparent;
                border: 1px solid #fff;
            }
        }
    }

    .github-portfolio-btn{
        text-decoration: none;
        color: #fff;
        background-color:$main_blue;
        font-size: 20px;
        border-radius: 5px;
        border: none;
        padding: 20px;
        margin: 20px;
        transition: all 0.2s;

        &:hover{
            background-color: transparent;
            border: 1px solid #fff;
        }
    }

    @media screen and(min-width: 991px) and (max-width: 1200px) {
        .portfolio-btn {
            padding: 5px !important;
            margin: 5px !important;
        }

        .portfolio-btn_second {
            padding: 5px !important;
            margin: 5px !important;
        }
    }

}